@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    margin: 0%;
    padding: 0%;
}
.navbar{
    background-image:linear-gradient(black);
    overflow: hidden;
    position: sticky;
    top: 0px;
    height: 50px;
    z-index: -1;
}
li{
    list-style: none;
    float: left;
    margin: 14px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}
img.logo{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 10px;
    left: 4px;
}
.banner{
    width: 100%;
    height: 700px;
}
.head1{
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 3em;
}
.row{
    display: flex;
}
.column{
    flex: 50%;
    height: 400px;
    margin: 50px;
}
.img1{
    height: 400px;
    width: 100%;
}
.head2{
    font-family: "Oswald", sans-serif;
    text-align: center;
    position: relative;
    bottom: 19px;
}
p{
    font-family: "Oswald", sans-serif;
    text-align: justify;
    position: relative;
    bottom: 19px;
}
footer{
    background-color: black;
    height: 70px;
    width: 100%;
    color: white;
}
h3.txt{
    font-family: "Oswald", sans-serif;
    position: relative;
    top: 24px;
    left: 500px;
}